*.log
*.out
*.bbl
*.aux
*.top
*.synctex.gz
*.blg
*.tui
*-mpgraph.mp
*.DS_Store
supplement*.pdf
image_backups/*
sync_bib.sh
supplementNotes.bib
*~
images/all_kic1255_phot/all_kic1255_refcor_sigreject?.pdf
